.container {
	width:100%;
	background-color: #FDF6E3;
	padding-bottom: 30px;
	line-height: 2rem;
}
header {
	position: fixed;
	z-index: 10;
	left:5%;

}
header ul {
	display: flex;

	height: 50px;
}

header ul li{
	flex:1;
	text-align: center;
	background-color: #042E31;
	border-radius: 10px;
}
header ul li:hover {
	background-color: #FDF6E3;
}
.top li a{
	display: inline-block;
	padding: 15px 20px;

	font-weight: 700;
	color: #FDF6E3;
}
.top li:hover a {
	color: #042E31;
	
}

.info {
	position:relative;
	top:50px;
}

.info h1 {
	padding: 5px 0px;
	text-align: center;
}
.photo {
	width: 20%;
	// display: flex;
	// height: 363px;
	float: left;
	// z-index: -1;
}
.my {
	word-break:break-word;
	width: 30%;
	float: left;
	padding: 3%;
}
.my ul {
	width: auto;
}
.my ul li{
	line-height: 2rem;
}
.photo img{
	flex:1;
	vertical-align: middle;
}
.skill {
	width: 100%;
}
.skill tr {
	display: flex;
}

.skill tr p {
	overflow: auto;
}
.skill tr th, .skill tr td {
	border: 1px solid #000;
	flex:1;
	word-break:break-word;
}

